
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: black;

  width: 100dvw;
  height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;
}


/* --- fmain ----------------------------- */
.main {
  background-color: rgb(
    1, 43, 54
    )
  ;

  width: 100dvw;
  height: 100dvh;

  max-width: 888px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
}
/* --- fmain ----------------------------- */


/* --- ftop --------------------------- */
.top {
  border-top: 5px solid rgb(
    75, 75, 75
    )
  ;

  background-color: rgb(
    1, 111, 111
    )
  ;

  background-image: radial-gradient(
    circle, 
    white, 
    rgba(0, 220, 255, 0.5)
    )
  ;

  box-shadow: inset
    0 -4px 16px 4px
  ;

  width: 100%;
  height: 19.1%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* --- etop --------------------------- */


/* --- fbot --------------------------- */
.bot {
  border-bottom: 5px solid rgb(
    75, 75, 75
    )
  ;

  background-color: rgb(
    1, 111, 111
    )
  ;

  background-image: radial-gradient(
    circle, 
    white, 
    rgba(0, 220, 255, 0.5)
    )
  ;

  box-shadow: inset
    0 4px 16px 4px
  ;

  width: 100%;
  height: 19.1%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* --- ebot --------------------------- */

.zoom.fullscreen {
  background-color: rgba(
    0, 0, 0, 0.9
    )
  ;
  border: none;
  border-radius: 0;

  width: 100dvw;
  height: 100dvh;
  object-fit: contain;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  /* cursor: zoom-out; */
  /* transition: transform 10s ease; */
}

/* --- fmid --------------------------- */
.mid {
  border-top: 8px solid rgb(
    175, 175, 175
    )
  ;
  
  border-bottom: 8px solid rgb(
    175, 175, 175
    )
  ;

  background-color: rgb(
    1, 111, 111
    )
  ;

  background-image: radial-gradient(
    circle, 
    white, 
    rgba(0, 128, 255, 0.25)
    )
  ;
  
  width: 100%;
  height: 61.8%;

  display: flex;
  justify-content: center;
  align-items: center;
}
/* --- ftracker --------------------- */
.tracker {
  width: 100%;
  height: 100%;

  display: flex;

  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
/* --- ftoright ------------------- */
.toright-slide {
  box-shadow: inset
    0 -4px 16px 4px
  ;

  min-width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;

  scroll-snap-align: start;
}

.toright-slide img {
  border: 3px solid rgb(
    200, 200, 200
    )
  ;
  border-left: none;
  
  border-radius: 0 10% 10% 0;

  box-shadow: 
    0 0 6px 2px
  ;

  width: 100%;
  height: 100%;
}
/* --- etoright ------------------- */
/* --- fcenter -------------------- */
.center-slide {
  box-shadow: inset
    0 -4px 16px 4px
  ;

  min-width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5%;

  scroll-snap-align: start;
}

.center-slide img {
  border: 3px solid rgb(
    200, 200, 200
    )
  ;
  border-radius: 10%;

  box-shadow: 
    0 0 6px 2px
  ;

  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* --- fcenter -------------------- */
/* --- etracker --------------------- */
/* --- emid --------------------------- */
