
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  background-color: black;

  width: 100dvw;
  height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;
}


.main {
  background-color: rgb(
    1, 43, 54
    )
  ;

  width: 100dvw;
  height: 100dvh;

  max-width: 768px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


h1, h2, h3, h4 {
  font-family: "Rubik Lines", serif;
  font-weight: 500;
}