
#sluzby {
  border-left: none;
  border-radius: 0 25% 25% 0;

  background-image: radial-gradient(
    circle, 
    white, 
    rgba(255, 0, 0, .9)
    )
  ;
}


#produkty {
  border-right: none;
  border-radius: 25% 0 0 25%;

  background-image: radial-gradient(
    circle, 
    white, 
    rgba(255, 255, 0, .9)
    )
  ;
}