
.butts {
  border: 3px solid rgb(
    150, 150, 150
    )
  ;
    
  box-shadow: inset
    0 0 15px 3px,
    0	0	12px 3px
  ;

  text-decoration: none;
  color: black;
  font-weight: bold;

  width: 38.2%;
  height: 61.8%;

  display: flex;
  justify-content: center;
  align-items: center;
}


.sluzby {
  border-left: none;
  border-radius: 0 25% 25% 0;

  background-image: radial-gradient(
    circle, 
    white, 
    rgba(255, 0, 0, .9)
    )
  ;
}


.produkty {
  border-right: none;
  border-radius: 24% 0 0 24%;

  background-image: radial-gradient(
    circle, 
    white, 
    rgba(255, 255, 0, .9)
    )
  ;
}


.o-mne {
  border-left: none;
  border-radius: 0 24% 24% 0;

  background-image: radial-gradient(
    circle, 
    white, 
    rgba(255, 128, 0, .9)
    )
  ;
}


.kontakty {
  border-right: none;
  border-radius: 24% 0 0 24%;

  background-image: radial-gradient(
    circle, 
    white, 
    rgba(0, 255, 0, .9)
    )
  ;
}
