.logo {
  border: 1.8px solid rgb(
    75, 75, 75
    )
  ;
  border-radius: 7%;

  background-color: rgba(
    215, 235, 255, 0.85
    )
  ;

  padding: 1%;

  white-space: nowrap;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 3%;
}

.services.galerie {
  gap: 10%;
}
services.arrows {
  gap: 5%;
}

.logo h1 {
  font-size: 3em;
}

.logo h2 {
  font-size: 2em;
}

.logo h3 {
  font-size: 1.5em;
}

.logo h4 {
  font-size: 1em;
}