.logo {
  border: 1.8px solid rgb(
    75, 75, 75
    )
  ;
  border-radius: 7%;

  background-color: rgba(
    215, 235, 255, 0.85
    )
  ;

  padding: 1%;

  white-space: nowrap;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 3%;
}

.services.galerie {
  gap: 10%;
}
services.arrows {
  gap: 5%;
}
.logo.arrows {
  background: radial-gradient(
    circle,
    white,
    rgba(255, 0, 0, 0.75)
  );

  box-shadow: inset
    0 0 3px 1px,
    0	0	3px 1px
  ;
  color: rgb(25, 25, 25);
}

.logo.viveska {
  background: radial-gradient(
    circle,
    white,
    rgba(139, 69, 19, 0.75)
  );

  box-shadow: inset
    0 0 3px 1px,
    0	0	3px 1px
  ;

  color: rgb(50, 50, 50);
}

.logo h1 {
  font-size: 3em;
}

.logo h2 {
  font-size: 2em;
}

.logo h3 {
  font-size: 1.5em;
}

.logo h4 {
  font-size: 1em;
}