
.slide-center {
  box-shadow: inset
    0 -4px 16px 4px
  ;

  min-width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5%;

  scroll-snap-align: center;
}