
.slide-right {
  box-shadow: inset
    0 -3px 12px 3px
  ;

  min-width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;

  scroll-snap-align: center;
}
